/* solarized theme variables are sourced from
   https://gist.github.com/x-zvf/a8b84f5e8065e39cab68e725c4dd1255 */
:root {
	--base03: #002b36; /* dark background */
	--base02: #073642; /* dark background */
	--base01: #586e75; /* content */
	--base00: #657b83; /* content */
	--base0: #839496;  /* content */
	--base1: #93a1a1;  /* content */
	--base2: #eee8d5;  /* light background */
	--base3: #fdf6e3;  /* light background */
	--yellow: #b58900;
	--orange: #cb4b16;
	--red: #dc322f;
	--magenta: #d33682;
	--violet: #6c71c4;
	--blue: #268bd2;
	--cyan: #2aa198;
	--green: #859900;
}
@media (prefers-color-scheme: light) {
	body {
		background-color: var(--base2);
		color: var(--base00);
	}
	h1,h2,h3,h4,h5,b,strong,code,i,em { color: var(--base01); }
	pre,code { background-color: var(--base3); }
}
@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--base02);
		color: var(--base0);
	}
	h1,h2,h3,h4,h5,b,strong,code,i,em { color: var(--base1); }
	pre,code { background-color: var(--base03); }
}

html {
	background-image: url(dinner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
body {
	/* one char width is about 0.6em */
	max-width: 49.5em; /* aimed so a <pre> fits 80 chars */
	min-height: 100vh;
	margin: 0 auto;
	padding: 1em;
	overflow-wrap: break-word;
}
body,code,pre {
	font-family: "Lucida Sans Typewriter", "Lucida Console", "Monaco", "Andale Mono", "Consolas", monospace;
}
pre {
	overflow-wrap: normal;
	overflow: auto;
}
* {
	font-size: 16px; /* !important; */
}

.blink,blink {
	animation: blink 2s step-start infinite;
}
@keyframes blink {
	50% { opacity: 0; }
}

.center {
	text-align: center;
}

.ascii {
	text-align: center;
	font-family: "Courier New", "Courier", monospace;
	line-height: 1.1;
	padding-bottom: 2em;
}
@media screen and (max-width: 767px) {
  .ascii {
    font-size: 12px;
  }
}

h1,h2,h3,h4,h5,b,strong,code {
	text-emphasis-style: none;
}
h1:before { content: "# "; }
h2:before { content: "## "; }
h3:before { content: "### "; }
h1,h2,h3,b,strong,i,em {
	font-weight: 700;
}
code { font-weight: 500; }

ul,ol {
	padding-left: 0;
}
ul > li {
	list-style-type: none;
}
ul > li:before {
	content: "* ";
}
ol > li {
	list-style-type: decimal;
	list-style-position: inside;
}
dt:before {
	content: "* ";
}
dt:after {
	content: ":";
}
dd {
	margin-left: 1.2em;
}

pre {
	padding: 0.6em;
	border: 1px solid var(--green);
	white-space: pre-wrap;
}
blockquote {
	padding: 0.6em;
	margin: 0 0.6em;
}

a { color: var(--blue); }
a:active { color: var(--red); }
a:visited { color: var(--violet); }

th,td {
	padding: 0 0.3em;
}
